
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>
    <!-- Icons font CSS-->
    <link href="~/Content/Register/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Register/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- Vendor CSS-->
    <link href="~/Content/Register/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/Register/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/Content/Register/css/main.css" rel="stylesheet" media="all">
    <link href="~/Content/Home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Online Admission</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>

    <div class="container">
        <br /><br /><br /> <br /> <br />
        <div class="card" style="width: 55rem;">
            <h2>Set Exam Rules</h2>
            <div class="card-body">
                <form method="POST">

                    <div class="form-row">
                        <div class="name">Year</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="year">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Question No</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="queno">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Time</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="time">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Passmark</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="passmark">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Seat</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" name="seat">
                            </div>
                        </div>
                    </div>


                    <div>
                        <button class="btn btn--radius-2 btn--red" type="submit">Set Rules</button>
                    </div>
                </form>

                <a class="btn btn-primary" href="@Url.Action("Index", "Admin")">Back to Admin</a>
            </div>
        </div>
    </div>
    <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />  <br />
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
    </footer>
    <script src="~/Content/Register/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/Content/Register/vendor/select2/select2.min.js"></script>
    <script src="~/Content/Register/vendor/datepicker/moment.min.js"></script>
    <script src="~/Content/Register/vendor/datepicker/daterangepicker.js"></script>
    <!-- Main JS-->
    <script src="~/Content/Register/js/global.js"></script>

    <script src="~/Content/Home/vendor/jquery/jquery.min.js"></script>
</body>
</html>

