
@*@if (Session["studentlogin"] == null)
{
    Response.Redirect("~/Login/Index");
}*@

@{
    ViewBag.Title = "LoggedIn";
}


<h2>LoggedIn</h2>


@if (Session["student_id"] != null)
{
    <h3>Hello @Session["student_name"] </h3>
}
<h2>Take the Exam</h2>
